.home__hero-section {
  color: #fff;
  padding: 120px 0;
}

.home__hero-section-main {
  background-image: url(../../components/backgroundImg/chip1.svg);
  background-size: 110%;
  background-position: 10% 40%;
  color: #fff;
  padding: 120px 0;
}

@media screen and (max-width: 900px) {
  .home__hero-section-main {
    background-image: url(../../components/backgroundImg/chip2.svg);
    background-size: 150%;
    background-position: 50% 40%;
    color: #fff;
    padding: 120px 0;
  }
}

.home__hero-row {
  align-items: center;
}

.row {
  display: flex;
  margin-right: -15px;
  margin-bottom: px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
}

.row-center {
  display: flex;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: center;
}

.col {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.col-center {
  margin-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  flex-basis: 50%;
  justify-content: center;
}

.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}
.home__hero-text-wrapper-center {
  max-width: 540px;
  padding-top: 30px;
  padding-bottom: 130px;
  text-align: center;
}
.top-line {
  color: #f00946;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color: #f7f8fa;
}

.dark {
  color: #74c36b;
}

.darkBg {
  background-color: #74c36b;
}

.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-subtitle-center {
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}
.home__hero-img-wrapper {
  max-width: 555px;
}

.home__hero-img {
  max-width: 75%;
  margin-top: 0;
  margin-right: 0;
  margin-left: 30px;
  padding-right: 0;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
  }
}

/* For pdf */
.react-pdf__Page {
  margin-top: 10px;
}
.react-pdf__Page__textContent {
  border: 1px solid darkgrey;
  box-shadow: 5px 5px 5px 1px #ccc;
  border-radius: 5px;
}

.react-pdf__Page__annotations.annotationLayer {
  padding: 20px;
}

.react-pdf__Page__canvas {
  margin: 0 auto;
}

/* For all pages */
.all-page-container {
  /* height: 100%;
  max-height: 500px; */
  overflow: auto;
}
